.post {
  width: 50%;
}

.card {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
  margin-bottom: 30px;
  padding: 20px;
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      > h3 {
        margin-left: 15px;
        color: #fff;
      }
    }
    &__img {
      > img {
        width: 50px;
        border-radius: 50%;
      }
    }

    &__follow {
      margin-bottom: 15px;
    }
  }

  &__content {
    > img {
      width: 100%;
    }
    &__description {
      > p {
        color: #fff;
      }
    }
  }
}
