$breakpoints: (
  "xxs": 22em,
  "xs": 36em,
  "sm": 48em,
  "md": 62em,
  "lg": 75em,
  "xl": 87.5em,
) !default;

@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

// width
$lg-width: 75rem;

// fonts
$font-size: 1rem;
$font-light: 300;
$font-bold: 600;

// colors
$color-primary: #000;
$color-dark: rgba(31, 41, 55);
$color-gray: #808080;
$background-white: #ffffff;
$background-hover: #f5f5f5;

// border
$border-color: rgb(194, 191, 191);
